services:
  # Internal DNS resolver
  resolver:
    image: ghcr.io/mailu/unbound:master
    container_name: mailu-resolver
    restart: always
    env_file: mailu.env
    networks:
      mailu-net:
        ipv4_address: 192.168.203.254

  # Mailu administration and API
  admin:
    image: ghcr.io/mailu/admin:master
    container_name: mailu-admin
    restart: always
    env_file: mailu.env
    volumes:
      - ./data:/data
    networks:
      - mailu-net
    dns:
      - 192.168.203.254

  # Webmail (Roundcube)
  webmail:
    image: ghcr.io/mailu/webmail:master
    container_name: mailu-webmail
    restart: always
    env_file: mailu.env
    volumes:
      - ./data/webmail:/data
    networks:
      - mailu-net
    dns:
      - 192.168.203.254

  # SMTP/IMAP services and Web Entry point
  front:
    image: ghcr.io/mailu/nginx:master
    container_name: mailu-front
    restart: always
    env_file: mailu.env
    ports:
      - "25:25"
      - "465:465"
      - "587:587"
      - "143:143"
      - "993:993"
    volumes:
      - ./data:/data
    networks:
      - mailu-net
      - traefik-net
    dns:
      - 192.168.203.254
    labels:
      - "traefik.enable=true"
      # Admin UI
      - "traefik.http.routers.mailu-admin.rule=Host(`admin.bolann.cloud`)"
      - "traefik.http.routers.mailu-admin.tls=true"
      - "traefik.http.routers.mailu-admin.entrypoints=websecure"
      - "traefik.http.routers.mailu-admin.tls.certresolver=le"
      - "traefik.http.services.mailu-admin.loadbalancer.server.port=80"
      # Webmail
      - "traefik.http.routers.mailu-webmail.rule=Host(`webmail.bolann.cloud`)"
      - "traefik.http.routers.mailu-webmail.tls=true"
      - "traefik.http.routers.mailu-webmail.entrypoints=websecure"
      - "traefik.http.routers.mailu-webmail.tls.certresolver=le"
      - "traefik.http.services.mailu-webmail.loadbalancer.server.port=80"
      - "traefik.docker.network=traefik_default"

  imap:
    image: ghcr.io/mailu/dovecot:master
    container_name: mailu-imap
    restart: always
    env_file: mailu.env
    volumes:
      - ./data:/data
    networks:
      - mailu-net
    dns:
      - 192.168.203.254

  smtp:
    image: ghcr.io/mailu/postfix:master
    container_name: mailu-smtp
    restart: always
    env_file: mailu.env
    volumes:
      - ./data:/data
    networks:
      - mailu-net
    dns:
      - 192.168.203.254

  antispam:
    image: ghcr.io/mailu/rspamd:master
    container_name: mailu-antispam
    restart: always
    env_file: mailu.env
    volumes:
      - ./data:/data
    networks:
      - mailu-net
    dns:
      - 192.168.203.254

  # Redis for session storage
  redis:
    image: redis:alpine
    container_name: mailu-redis
    restart: always
    volumes:
      - ./data/redis:/data
    networks:
      - mailu-net

networks:
  mailu-net:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.203.0/24
  traefik-net:
    external: true
    name: traefik_default
